{% extends 'layout3.html' %}
{% block body %}

<form class="w-full max-w-lg" action='#' method='POST' enctype="multipart/form-data"> 
  {% csrf_token %}
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
          Topic
        </label>
        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder='Name of the topic' name='topic'>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
          Description
        </label>
        <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" placeholder="Describe todays topic" name='desc'></textarea>
      </div>
    </div>

    <p class='text-center mt-5 my-24'><button class='btn btn-primary'><i class="fas fa-plus mr-2"></i>Send emails</button></p>
  </form>


{% endblock %}